<%- include(  "partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="POST">
<label for="">Title</label> <br>
<input type="text" name="postTitle" class="" style="width:100%;"> <br>
 <label for="">Post</label><br>
 <textarea  name="postBody" style="width:100%;"rows="4" cols="50">
</textarea>
<br>
 <button type="submit"  class="btn btn-primary"> Publish</button>
</form>
<%- include(  "partials/footer"); -%>
